
html,.pure-g [class*="pure-u"] {
    font-family: Arial, sans-serif;
    /*height: 100%;*/
}


body {
    font-size: 16px;
    color: #504B50;
    margin: 0;
    /*padding: 0 0 3em 0;*/
    /*min-height: 100%;*/
}

p {
    margin: 1em 0;
}

h3,h4 {
    margin: 1em 0;
}

h4.content-subhead {
    margin-bottom: 0px;
}

ul.speakers {
    list-style-type: square;
}

ul.news li h3 {
    margin: 1em 0;
}

ul.news li p {
    margin: -1em 0 0 0;
}

.header {
    /*margin-bottom: 3em;*/
}

.footer {
    font-size: 14px;
    color: #7f8c8d;
    text-align: right;
    padding: .5em 1em;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

.footer a {
    color: #7f8c8d !important;
}

.content {
    padding: 1em 0 0 0;
}

@media(min-width: 48em) {
    .content {
	padding: 1em;
    }
}

.content-wrapper {
    /*padding: 0 0 3em 0;*/
}

.bg-container {
    position: absolute;
    height: 100%;
    width: 10000px;
    margin-left: -5000px;
    left: 50%; 
    top: 0;
    text-align: center;
}

@media (max-height: 640px) {
  .bg-container {
	  height: 113%;
    top: 0;
  }
}

@media (max-width: 400px) {
   .bg-container {
     margin-left: -4940px;
  }
}

.l-pad {
    padding-left: 1em;
}

img.bg {
   height: 100%;
}

.content-head, .content-subhead {
    color: #656035;
}

.splash-container {
    background: #544037;
}

.splash-head {
    background-color: rgba(255,255,255,.3);
    text-transform: none;
    color: #656035;
    border-color:  #656035;
    font-size: 200%;
}

.splash-subhead {
    color: black;
}


.splash {
    top: 7%;
    margin: 0 auto;
}

@media (min-width: 35.5em) {
    .splash {
	top: 15%;
    }
}

@media (max-height: 400px) {
   .splash-container { height: 100%; }
   .content-wrapper { top: 100%; }
   .splash {	top: 7%;   }
}

.nowrap {
    white-space: nowrap;
}


.home-menu {
    padding: 0 .8em;
}


.home-menu .pure-menu-list a.pure-menu-link {
    color: #C0BCC0;
}

.home-menu .pure-menu-list a.pure-menu-link:hover {
    color: white;
}


/* Some general or pure specific css*/

.verror {
    margin: 1em 0 -1em 0;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}


.pure-button.pure-button-primary {
    color: #765E52;
}

/* unvisited */
a:link {
    color: #765E52;
}

a:visited {
    color: #765E52;
}

a:hover {
    color: #563727;
}

a:active {
    color: #563727;
}

.pure-form select {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    height: 2.4em;
}


.pure-form input[type=radio] {
    width: auto;
}

label.pure-radio.multi {
    display: inline-block;
    margin: .75em 2em .3em 0;
}

label.multi input[type=radio] {
    margin: 0;
}

textarea {
    width: 100%;
    height: 18.3em;
}

@media(max-width: 768px) {
    fieldset.connect {
	margin-top: -3.5em;
	padding-top: 0;
    }
}


img.coinlogo {
    height: 100px;
    max-width: 100%;
}

img.hiitlogo {
    margin-right: 35px;
}

.pure-menu-heading {
    text-transform: none;
}

/*.ribbon {
    text-align: center;
}*/

div.logos {
    padding-top: 6px;
    max-width: 945px;
    /*text-align: center;*/
    /*width: 100%;*/
    margin: 0 auto;
}

@media (max-width: 47.9em) {
    /*
    ul.instifix {
	margin-top: -39px;
    }

    h3.instfix {
	display: none;
    }*/

    img.hiitlogo {
	margin-right: 0px;
	height: 70px;
    }
    
    
    img.coinlogo {
	/* margin-top: 20px; */
	height: auto;
	width: 100%;
    }
}

@media (max-width: 400px) {
   img.hiitlogo {
	margin-right: 0px;
	height: 50px;
    } 
}




button#register {
    width: 12em;
    height: 3em;
    margin-top: 1em;
    float: right;
}




/* Style for the programme page */

div.time span {
    width: 8em;
    display: inline-block;
    font-weight: bold;
    margin: .3em 0 0 0;
}

@media (max-width: 480px) {
    div.time span {
	display: block;
	margin: .3em 0 -.1em 0;
    }
}











